{:kotoba.app/id "cloud.itonami.isic-1062", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif2phcwrxksilyj5hvtnnju2233gs3bysjjz6sw3gfa6mov3pjevm", :kotoba.app/embed-url "ipfs://bafkreif2phcwrxksilyj5hvtnnju2233gs3bysjjz6sw3gfa6mov3pjevm", :published {:archive "https://kotobase.net/ipfs/bafkreif2phcwrxksilyj5hvtnnju2233gs3bysjjz6sw3gfa6mov3pjevm", :size 72674, :put-status 201, :get-status 200, :at "2026-08-15T13:59:38.212Z"}}
